.container {
 	margin: 0 auto;
 	width: 50%;
}

.button-container {
	padding: 1em;
}

canvas {
	padding: 1em;
}

form {
	display: block;
	padding: 1em;
}

p {
	display: block;
	padding: .5em;
}

input {
	width: 20%;
}

#error {
	color: red;
}

label, textarea {
	display: inline-block;
	vertical-align: middle;
	margin: 1em 0;
}
